# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/.vs/HTC Lighthouse Tracking Example/v14
/HTC Lighthouse Tracking Example/Debug
/HTC Lighthouse Tracking Example/Release/HTC Ligh.1C0BD20F.tlog
/HTC Lighthouse Tracking Example/Release
/Debug
/Release
/ipch/HTC LIGHTHOUSE TRACKING EXAMPLE-5eef2440
/openvr_api.lib
/openvr_api.dll
/HTC Lighthouse Tracking Example.VC.VC.opendb
/HTC Lighthouse Tracking Example.VC.db
